body {background-color: rgb(20, 20, 20);}

h1 {color: rgb(236, 219, 182);
text-align: center;
text-decoration: solid;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 60px;}

#Info{
text-align: center;
margin-top: 200px;
}


.con {padding: 20px;}

.row {text-align: center;}

.row > div {display: inline-block;
vertical-align: middle;}

.items-row {--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);}

.items.col {display: initial;}
.col {flex: 1 0 0%;}

.card {background-color: transparent;
background-clip: border-box;
background-position: bottom center;
background-size: cover;
border: none;
border-radius: 0;
padding: 1.5rem;
position: relative;
display: flex;
flex-direction: column;
min-width: none;
word-wrap:break-word;}
.h-100 {height: 100%!important;}

.card-content {
border: solid 2px rgb(214, 161, 15);
height: 100%;
margin: 160px auto 0;
padding: 1rem;
text-align: center;
}
*, ::after, ::before {box-sizing: border-box;}

.card-img-top {
margin-top: -160px;
border-top-left-radius: calc(0.25rem - 1px);
border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {padding: 1rem 1rem;}
.card-title h3 {
font-size: 2rem!important;
text-align: center;
text-transform: uppercase;}